<table>
    
    <tr class="r"><td></td>
    <td class="container" style="color: aliceblue;"><h2 class="text-center">Audit Management System</h2>  
    <td>
    </tr>
  </table>
<div class="container text-center mt-5">
    <h2 class="restricted">You are not authorised to use this page.Please Login Again to avail Our Services</h2>
    <h1 style="text-align: center;"><a class="btn btn-success" [routerLink]="['/login']" ><button class="btn-success" type="button" class="login">Login here</button></a></h1> 
</div>