<table>
    <tr class="r"><td class="container" style="color: aliceblue;"><h2>Audit Management System</h2></td>
        <td class="container" style="color: aliceblue;"></td>  
        
    </tr>
</table>
    <div class="container vh-100">
	
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
			
            <div class="card-body px-5">
                <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                </div>
                <div class="text-center">
                    <h2>Welcome to Audit portal</h2>
                </div>
                <p style=" text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <div class="container">
                        <form (ngSubmit)="handleJWTAuthentication()" #myForm="ngForm">
                    <div>
                            <h5>UserId:
                            <input type="text"placeholder="Enter valid UserId" name="uname" class="form-control" [(ngModel)]="userId" required>
                       </h5>
                    </div> 
                    
                    <div>
                        <h5>Password:
                        <input type="password" placeholder="Enter Valid Password" name="pwd" class="form-control" [(ngModel)]="password"  required>
                    </h5>
                    </div> 
                    
                    <button class="btn btn-success" [disabled]="!myForm.form.valid" type="submit">Login</button>
					<h5 class="invalid" id="isValid" *ngIf="invalidCredentials">Please Enter Valid Credentials</h5>
                    </form>
                    
                    </div>
            </div>
        </div>
    </div>
</div>