
<table>
        <tr class="r"><td class="container" style="color: aliceblue;"><h2 class="center">Audit Management System</h2>
            <td class="container" style="color: aliceblue;"></td>  
            
        </tr>
    </table>
    <br><br><br><br><br><br><br>
<div class="container" >
<div>
       <h1> You have successfully logged out of the portal.Click the below button to re-login</h1>
        <div class="container  loginButton">
       <h1 style="text-align: center;"><a class="btn btn-success" [routerLink]="['/login']" ><button class="btn-primary" type="button" class="login">Login here</button></a></h1> 
        </div>
</div>
</div>